h1 {
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    font-size: 30px;

    margin: 24px;
    background-color: black;
    /*border: 1px solid grey;*/
    /*border-radius: 24px;*/
    /*transition: background-color 1.0s ease, border-color 1.0s ease, box-shadow 1.0s ease;*/
}

h1:hover {
    color: #000000;
    background-color: lightblue;
    /*border-color: lightblue;*/
    /*box-shadow: 5px 5px 10px blue;*/
}
